body {
	padding:0;
	margin:0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

    background-color: rgb(46, 51, 71);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card{

	width: 20%;
	min-width: 300px;
	border-radius: 15px;
	font-family: Arial;
	color:#fff;
	background:rgba(0, 0, 0, 0.099);

	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.title {
	text-align:center;
	font-size:33px;
	margin: 36px 0;
}

.input {
	width:80%;
	border-radius: 5px;
	margin:20px auto;
	font-size:16px;
	padding:15px;
	background:rgba(0,0,0,0.2);
	color:#fff;
	border:0;
}

.input:focus {
    outline: none;
}

.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}

.register-btn {
	background-color:#4678cecc;
	width: 100%;
	border: none;
	color:#fff;
	padding:12px;
	font-size:20px;
	margin:20px auto;
	cursor:pointer;
	font-weight: bold;
	transition: background-color 0.3s ease-in-out;
}

.register-btn:hover {
	background-color:#5d85cccc;
}

.register-btn:active {
	background-color:#85a2d4cc;
}

.footer {
	font-size:14px;
	text-align:center;
	margin-bottom: 30px;
}

.footer-span {
	cursor:pointer;
	color:#97aac6;
}