<!DOCTYPE html>
<html>

<head>
   <title>Home Page</title>
   <link rel="stylesheet" type="text/css" href="./css/createClienteStyles.css">
</head>

<body> 
    <div id="card" class="card">
      <h1 class="title">Registar cliente</h1>
      <input id="username" class="input" type="text" placeholder="Nome"/>
      <input id="email" class="input" type="email" placeholder="Email"/>
      <input id="phone" class="input" type="text" placeholder="Telemóvel"/>
      <button id="register-btn" class="register-btn">Submeter</button>
    </div>
    <script src="./js/createClienteScript.js"></script>
</body>

</html>